.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.developerText {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(96, 96, 96);
    display: inline-block;
    position: relative;
    transform: translateY(-50%);
    white-space: nowrap;
    opacity:0;
    transition: opacity 0.5s ease; 
}

.logo {
    width: 100px;
    background-color: aliceblue;
    border-radius: 100px;
}
.logo:hover {
    animation-name: gift;
    animation-duration: 1.9s; 
    animation-iteration-count: 1;
}
.logo:hover + .developerText {
    opacity: 1; 
}